<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd

In [2]:
f = pd.read_csv('geo_king.csv')
f['zipcode'].astype('int')
print(f['zipcode'].dtype)
g = pd.read_csv('ZIPBRONZE.csv')
g['ZipCode'].astype('int')
print(g['ZipCode'].dtype)
g.info()

int64
int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42036 entries, 0 to 42035
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   ZipCode    42036 non-null  int64
 1   City       42036 non-null  object
 2   StateCode  42036 non-null  object
dtypes: int64(1), object(2)
memory usage: 985.3+ KB

In [3]:
g = g.rename(str.lower, axis = 'columns')
g

       zipcode         city statecode
0          501   HOLTSVILLE        NY
1          544   HOLTSVILLE        NY
2          601     ADJUNTAS        PR
3          602       AGUADA        PR
4          603    AGUADILLA        PR
...        ...          ...       ...
42031    99926   METLAKATLA        AK
42032    99927  POINT BAKER        AK
42033    99928    WARD COVE        AK
42034    99929     WRANGELL        AK
42035    99950    KETCHIKAN        AK

[42036 rows x 3 columns]

In [4]:
f

       Unnamed: 0  zipcode      lat     long  price_est
0               0    98178  47.5112 -122.257   221900.0
1               1    98125  47.7210 -122.319   538000.0
2               2    98028  47.7379 -122.233   180000.0
3               3    98136  47.5208 -122.393   604000.0
4               4    98074  47.6168 -122.045   510000.0
...           ...      ...      ...      ...        ...
19420       21592    98103  47.6993 -122.346   360000.0
19421       21593    98146  47.5107 -122.362   400000.0
19422       21594    98144  47.5944 -122.299   402101.0
19423       21595    98027  47.5345 -122.069   400000.0
19424       21596    98144  47.5941 -122.299   325000.0

[19425 rows x 5 columns]

In [5]:
merged = f.merge(g, how='left', on='zipcode')
merged

       Unnamed: 0  zipcode      lat     long  price_est       city statecode
0               0    98178  47.5112 -122.257   221900.0    SEATTLE        WA
1               1    98125  47.7210 -122.319   538000.0    SEATTLE        WA
2               2    98028  47.7379 -122.233   180000.0    KENMORE        WA
3               3    98136  47.5208 -122.393   604000.0    SEATTLE        WA
4               4    98074  47.6168 -122.045   510000.0  SAMMAMISH        WA
...           ...      ...      ...      ...        ...        ...       ...
19420       21592    98103  47.6993 -122.346   360000.0    SEATTLE        WA
19421       21593    98146  47.5107 -122.362   400000.0    SEATTLE        WA
19422       21594    98144  47.5944 -122.299   402101.0    SEATTLE        WA
19423       21595    98027  47.5345 -122.069   400000.0   ISSAQUAH        WA
19424       21596    98144  47.5941 -122.299   325000.0    SEATTLE        WA

[19425 rows x 7 columns]

In [6]:

merged.to_csv('merged.csv')

In [7]:
df = pd.read_csv('df_out.csv')
df

,Unnamed: 0,sqft_living,floors,waterfront,viewed_by_buyer,condition,yr_built
0,0,1180,1,0.0,0.0,3,1955
1,1,2570,2,0.0,0.0,3,1951
2,2,770,1,0.0,0.0,3,1933
3,3,1960,1,0.0,0.0,5,1965
4,4,1680,1,0.0,0.0,3,1987
...,...,...,...,...,...,...,...
18305,21592,1530,3,0.0,0.0,3,2009
18306,21593,2310,2,0.0,0.0,3,2014
18307,21594,1020,2,0.0,0.0,3,2009
18308,21595,1600,2,0.0,0.0,3,2004
18309,21596,1020,2,0.0,0.0,3,2008

In [8]:
merged_all = merged.merge(df, how='left', on='Unnamed: 0')
merged_all

,Unnamed: 0,zipcode,lat,long,price_est,city,statecode,sqft_living,floors,waterfront,viewed_by_buyer,condition,yr_built
0,0,98178,47.5112,-122.257,221900.0,SEATTLE,WA,1180.0,1.0,0.0,0.0,3.0,1955.0
1,1,98125,47.7210,-122.319,538000.0,SEATTLE,WA,2570.0,2.0,0.0,0.0,3.0,1951.0
2,2,98028,47.7379,-122.233,180000.0,KENMORE,WA,770.0,1.0,0.0,0.0,3.0,1933.0
3,3,98136,47.5208,-122.393,604000.0,SEATTLE,WA,1960.0,1.0,0.0,0.0,5.0,1965.0
4,4,98074,47.6168,-122.045,510000.0,SAMMAMISH,WA,1680.0,1.0,0.0,0.0,3.0,1987.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19420,21592,98103,47.6993,-122.346,360000.0,SEATTLE,WA,1530.0,3.0,0.0,0.0,3.0,2009.0
19421,21593,98146,47.5107,-122.362,400000.0,SEATTLE,WA,2310.0,2.0,0.0,0.0,3.0,2014.0
19422,21594,98144,47.5944,-122.299,402101.0,SEATTLE,WA,1020.0,2.0,0.0,0.0,3.0,2009.0
19423,21595,98027,47.5345,-122.069,400000.0,ISSAQUAH,WA,1600.0,2.0,0.0,0.0,3.0,2004.0
19424,21596,98144,47.5941,-122.299,325000.0,SEATTLE,WA,1020.0,2.0,0.0,0.0,3.0,2008.0

In [9]:
merged_all.to_csv('merged_all.csv')

In [1]:
%conda list

# packages in environment at /Users/owner/opt/anaconda3/envs/learn-env:
#
# Name                    Version                   Build  Channel
_py-xgboost-mutex         2.0                       cpu_0
appnope                   0.1.0            py36hf537a9a_0
asn1crypto                0.24.0                   py36_0
async_generator           1.10             py36h28b3542_0
attrs                     19.1.0                   py36_1
backcall                  0.1.0                    py36_0
beautifulsoup4            4.8.0                    py36_0
blas                      1.0                         mkl
bleach                    3.1.5                      py_0
boto                      2.49.0                   py36_0
boto3                     1.9.234                    py_0
botocore                  1.12.234                   py_0
bz2file                   0.98                     py36_1
ca-certificates           2020.7.22                     0
cairo                     1.14.12              hc4e6be7_4
certifi                   2020.6.20                py36_0
cffi                      1.12.3           py36hb5b8e2f_0
chardet                   3.0.4                 py36_1003
click                     7.1.2                    pypi_0    pypi
click-plugins             1.1.1                    pypi_0    pypi
cligj                     0.5.0                    pypi_0    pypi
cloog                     0.18.0                       10    conda-forge
cryptography              2.7              py36ha12b0ac_0
cryptography-vectors      2.7                        py_0
cycler                    0.10.0           py36hfc81398_0
cython                    0.29.13          py36h0a44026_0
decorator                 4.4.0                    py36_1
defusedxml                0.6.0                      py_0
docutils                  0.15.2                   py36_0
entrypoints               0.3                      py36_0
expat                     2.2.6                h0a44026_0
fiona                     1.8.17                   pypi_0    pypi
fontconfig                2.13.0               h5d5b041_1
freetype                  2.9.1                hb4e5f40_0
fribidi                   1.0.5                h1de35cc_0
gcc                       4.8.5                         8    conda-forge
gensim                    3.7.3            py36h0a44026_0
geopandas                 0.8.1                    pypi_0    pypi
gettext                   0.19.8.1             h15daf44_3
glib                      2.56.2               hd9629dc_0
gmp                       5.1.2                         6    conda-forge
graphite2                 1.3.13               h2098e52_0
graphviz                  2.40.1               hefbbd9a_2
h5py                      2.9.0            py36h3134771_0
harfbuzz                  1.8.8                hb8d4a28_0
hdf5                      1.10.4               hfa1e0ec_0
icu                       58.2                 h4b95b61_1
idna                      2.8                      py36_0
install                   1.3.3                    pypi_0    pypi
intel-openmp              2019.4                      233
ipykernel                 5.1.2            py36h39e3cac_0
ipython                   7.8.0            py36h39e3cac_0
ipython_genutils          0.2.0                    py36_0
ipywidgets                7.5.1                    pypi_0    pypi
isl                       0.12.2                        1    conda-forge
jedi                      0.15.1                   py36_0
jinja2                    2.10.1                   py36_0
jmespath                  0.9.4                      py_0
joblib                    0.13.2                   py36_0
jpeg                      9b                   he5867d9_2
jsonschema                3.0.2                    py36_0
jupyter-sphinx            0.3.1                    pypi_0    pypi
jupyter_client            5.3.3                    py36_1
jupyter_contrib_core      0.3.3                      py_2    conda-forge
jupyter_contrib_nbextensions 0.5.1                    py36_0    conda-forge
jupyter_core              4.5.0                    py36_0
jupyter_highlight_selected_word 0.2.0                 py36_1000    conda-forge
jupyter_latex_envs        1.4.4                 py36_1000    conda-forge
jupyter_nbextensions_configurator 0.4.1                    py36_0    conda-forge
jupyter_server            0.1.1                    py36_0    conda-forge
jupyterlab_pygments       0.1.1              pyh9f0ad1d_0    conda-forge
kiwisolver                1.1.0            py36h0a44026_0
krb5                      1.17.1               hddcf347_0
libcurl                   7.68.0               h051b688_0
libcxx                    4.0.1                hcfea43d_1
libcxxabi                 4.0.1                hcfea43d_1
libedit                   3.1.20181209         hb402a30_0
libffi                    3.2.1                h475c297_4
libgfortran               3.0.1                h93005f0_2
libiconv                  1.15                 hdd342a3_7
libpng                    1.6.37               ha441bb4_0
libsodium                 1.0.16               h3efe00b_0
libssh2                   1.9.0                ha12b0ac_1
libtiff                   4.0.10               hcb84e12_2
libxgboost                0.90                 h0a44026_1
libxml2                   2.9.9                hf6e021a_1
libxslt                   1.1.33               h33a18ac_0
llvm-openmp               4.0.1                hcfea43d_1
lxml                      4.4.1            py36hef8c89e_0
markupsafe                1.1.1            py36h1de35cc_0
matplotlib                3.1.1            py36h54f8f79_0
mistune                   0.8.4            py36h1de35cc_0
mkl                       2019.4                      233
mkl-service               2.3.0            py36hfbe908c_0
mkl_fft                   1.0.14           py36h5e564d8_0
mkl_random                1.1.0            py36ha771720_0
mongodb                   4.0.3                hccea1a4_0
mpc                       1.0.3                hc455b36_4
mpfr                      3.1.5                h7fa3772_1
munch                     2.5.0                    pypi_0    pypi
nb_conda                  2.2.1                    py36_0
nb_conda_kernels          2.2.1                    py36_0
nbconvert                 5.5.0                      py_0
nbformat                  4.4.0                    py36_0
nbstripout                0.3.9                    pypi_0    pypi
ncurses                   6.1                  h0a44026_1
networkx                  2.3                        py_0
nltk                      3.4.5                    py36_0
notebook                  5.7.8                    py36_0
numpy                     1.16.5           py36hacdab7b_0
numpy-base                1.16.5           py36h6575580_0
openssl                   1.1.1g               h1de35cc_0
packaging                 20.4                       py_0
pandas                    0.25.1           py36h0a44026_0
pandasql                  0.7.3                    pypi_0    pypi
pandoc                    2.2.3.2                       0
pandocfilters             1.4.2                    py36_1
pango                     1.42.4               h060686c_0
parso                     0.5.1                      py_0
patsy                     0.5.1                    py36_0
pcre                      8.43                 h0a44026_0
pexpect                   4.7.0                    py36_0
pickleshare               0.7.5                    py36_0
pip                       19.2.3                   py36_0
pip-autoremove            0.9.1                    pypi_0    pypi
pixman                    0.38.0               h1de35cc_0
plotly                    4.1.1                      py_0
prometheus_client         0.7.1                      py_0
prompt_toolkit            2.0.9                    py36_0
ptyprocess                0.6.0                    py36_0
py-xgboost                0.90             py36h0a44026_1
py4j                      0.10.7                   py36_0
pycparser                 2.19                     py36_0
pydotplus                 2.0.2                    py36_1
pygments                  2.4.2                      py_0
pyopenssl                 19.0.0                   py36_0
pyparsing                 2.4.2                      py_0
pyproj                    2.6.1.post1              pypi_0    pypi
pyrsistent                0.14.11          py36h1de35cc_0
pysocks                   1.7.1                    py36_0
python                    3.6.9                h359304d_0
python-dateutil           2.8.0                    py36_0
pytz                      2019.2                     py_0
pyyaml                    5.3.1            py36h1de35cc_0
pyzmq                     18.1.0           py36h0a44026_0
readline                  7.0                  h1de35cc_5
requests                  2.22.0                   py36_1
retrying                  1.3.3                    py36_2
s3transfer                0.2.1                    py36_0
scikit-learn              0.21.2           py36h27c97d8_0
scipy                     1.3.1            py36h1410ff5_0
seaborn                   0.9.0              pyh91ea838_1
send2trash                1.5.0                    py36_0
setuptools                41.2.0                   py36_0
shapely                   1.7.1                    pypi_0    pypi
simplegeneric             0.8.1                    py36_2
six                       1.12.0                   py36_0
smart_open                1.8.4                      py_0
soupsieve                 1.9.2                    py36_0
sqlalchemy                1.3.18                   pypi_0    pypi
sqlite                    3.29.0               ha441bb4_0
statsmodels               0.10.1           py36h1d22016_0
terminado                 0.8.2                    py36_0
testpath                  0.4.2                    py36_0
tk                        8.6.8                ha441bb4_0
tmdbsimple                2.6.0                    pypi_0    pypi
tornado                   6.0.3            py36h1de35cc_3
tqdm                      4.36.1                     py_0
traitlets                 4.3.2            py36h65bd3ce_0
urllib3                   1.24.2                   py36_0
voila                     0.1.21                     py_0    conda-forge
wcwidth                   0.1.7                    py36_0
webencodings              0.5.1                    py36_1
wget                      3.2                      pypi_0    pypi
wheel                     0.33.6                   py36_0
widgetsnbextension        3.5.1                    pypi_0    pypi
xlrd                      1.2.0                    py36_0
xz                        5.2.4                h1de35cc_4
yaml                      0.1.7                hc338f04_2
zeromq                    4.3.1                h0a44026_3
zlib                      1.2.11               h1de35cc_3
zstd                      1.3.7                h5bba6e5_0

Note: you may need to restart the kernel to use updated packages.