<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [104]:
import pandas as pd

In [105]:
f = pd.read_csv('geo_king.csv')
f['zipcode'].astype('int')
print(f['zipcode'].dtype)
g = pd.read_csv('ZIPBRONZE.csv')
g['ZipCode'].astype('int')
print(g['ZipCode'].dtype)
g.info()

int64
int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42036 entries, 0 to 42035
Data columns (total 3 columns):
ZipCode      42036 non-null int64
City         42036 non-null object
StateCode    42036 non-null object
dtypes: int64(1), object(2)
memory usage: 985.3+ KB

In [106]:
a = g.isnull()
a.nunique()

ZipCode      1
City         1
StateCode    1
dtype: int64

In [107]:
f

       Unnamed: 0  zipcode      lat     long  price_est
0               0    98178  47.5112 -122.257   221900.0
1               1    98125  47.7210 -122.319   538000.0
2               2    98028  47.7379 -122.233   180000.0
3               3    98136  47.5208 -122.393   604000.0
4               4    98074  47.6168 -122.045   510000.0
...           ...      ...      ...      ...        ...
19420       21592    98103  47.6993 -122.346   360000.0
19421       21593    98146  47.5107 -122.362   400000.0
19422       21594    98144  47.5944 -122.299   402101.0
19423       21595    98027  47.5345 -122.069   400000.0
19424       21596    98144  47.5941 -122.299   325000.0

[19425 rows x 5 columns]

In [103]:
f.reset_index('Unnamed: 0', append=True, inplace=True)

TypeError: reset_index() got an unexpected keyword argument 'append'

In [119]:
f.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19425 entries, 0 to 19424
Data columns (total 5 columns):
Unnamed: 0    19425 non-null int64
zipcode       19425 non-null int64
lat           19425 non-null float64
long          19425 non-null float64
price_est     19425 non-null float64
dtypes: float64(3), int64(2)
memory usage: 758.9 KB

In [109]:
int(f['zipcode'][1])
f.itertuples(index=True, name='zipcode')
f.index.astype('int')

RangeIndex(start=0, stop=19425, step=1)

In [125]:
for row in f.itertuples():
    row['zipcode'] = row['zipcode'].astype('int')
    print(row['zipcode'])

TypeError: tuple indices must be integers or slices, not str

In [123]:
'' in f['zipcode'].values

/Users/owner/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  """Entry point for launching an IPython kernel.

False